<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<style>
    .layout{
        width: 70%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout table, h1{
        width: 100%;
        margin: 0 auto;
        box-sizing : border-box;
        margin-top: 10px;
    }

    a{
        text-decoration: none;
    }

</style>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<div class="layout">
    <button type="button" class="btn btn-primary" style="float: right;">로그인</button>
    <button type="button" class="btn btn-danger" style="float: right;">로그아웃</button>
    <h1>게시판</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width:20%" scope="col-2">글번호</th>
            <th scope="col">제목</th>
            <th style="width:30%" scope="col" >작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${list}">
            <th th:text="${list.board_id}" scope="row">1</th> <!--localhost:8080/board/view?board_id=00-->
            <td>
                <a th:text="${list.title}" th:href="@{/board/view(board_id=${list.board_id})}"/>
            </td>
            <td th:text="${list.email}"></td>
        </tr>
        </tbody>
    </table>

    <div class="text-center" style="margin-top: 26px;">
        <div class="btn-group me-2 " role="group" aria-label="First group">
            <button th:each="page : ${#numbers.sequence(startPage, endPage)}" type="button" class="btn btn-primary" style="width:13%;">
                <a th:if="${page != nowPage}" th:text="${page}" th:href="@{/board/list(page = ${page - 1})}" style="color:white;"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color : navy;"></strong>
            </button>
        </div>

        <button type="button" class="btn btn-primary btn-lg" style="float:right; margin: 3%;"><a th:href="@{/board/write}" style="color:white; text-decoration: none;">글작성</a></button>
    </div>



</div>


</body>
</html>