<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/

    var message = [[${message}]];
    var yesUrl = [[${yesUrl}]];
    var noUrl = [[${noUrl}]];
    var board_id = [[${board_id}]];

    var choice = confirm(message);

    if (choice) {
        fetch(yesUrl, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ board_id: board_id })
    }).then(function(response) {
        if (response.ok) {
            location.replace(response.url);
        } else {
            console.error('Request failed:', response.statusText);
        }
    }).catch(function(error) {
        console.error('Request failed:', error);
    });
    }else{
        location.replace(noUrl);
    }

    /*]]>*/
</script>
<body>

</body>
</html>